$font-family-sans-serif: ('Roboto-Regular', fallback, sans-serif);
$theme-colors: (
    "primary": #000
);

//Import all bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

//New Variables
$gradient-color: linear-gradient(5.37deg, #81B9CB 3.96%, #87A5BD 35.96%, #88B7B2 52.45%, #B8A2CB 76.8%, #98AFD9 96.09%);

//Fonts
@font-face {
    font-family: 'DMSerifDisplay-Regular';
    src: url('./assets/Fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
            url('.assets/Fonts/DMSerifDisplay-Regular.ttf') format('truetype');
    }

@font-face {
    font-family: 'Overpass-Regular';
    src: url('./assets/Fonts/Overpass-Regular.woff2') format('woff2'),
            url('./assets/Fonts/Overpass-Regular.ttf') format('truetype');
    }

@font-face {
    font-family: 'Overpass-Black';
    src: url('./assets/Fonts/Overpass-Black.woff2') format('woff2'),
            url('./assets/Fonts/Overpass-Black.ttf') format('truetype');
    }

@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/Fonts/Roboto-Regular.woff2') format('woff2'),
            url('./assets/Fonts/Roboto-Regular.ttf') format('truetype');
    }

//Media Query Manager
@mixin laptop--lg {
    @media only screen and (max-width: 1440px) {
        @content;
    }
}

@mixin laptop--md {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}

@mixin laptop--sm {
    @media only screen and (max-width:991px) {
        @content;
    }
}

@mixin tablet--lg {
    @media only screen and (max-width: 780px) {
        @content;
    }
}

@mixin tablet--md {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin tablet--sm {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

@mixin mobile--lg {
    @media only screen and (max-width: 425px) {
        @content;
    }
}

@mixin mobile--md {
    @media only screen and (max-width: 375px) {
        @content;
    }
}

//Global Styles
//Code added to body to avoid excess white space on the right of the page
//Body
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
    font-family: 'Roboto-Regular', fallback, sans-serif;
}

.dm-serif{   
    font-family: 'DMSerifDisplay-Regular', fallback, sans-serif;
}

.overpass-regular{
    font-family: 'Overpass-Regular', fallback, sans-serif;
}

.overpass-black{
    font-family: 'Overpass-Black', fallback, sans-serif;
}

.roboto{
    font-family: 'Roboto-Regular', fallback, sans-serif;
}

h1{

    font-family: 'Overpass-Black', fallback, sans-serif;
    font-size: 2rem;
}

h2{
    font-family: 'DMSerifDisplay-Regular', fallback, serif;
    font-size: 3.5rem;
}

h3{
    font-family: 'DMSerifDisplay-Regular', fallback, serif;
    font-size: 3.125rem;
}

h4{
    font-family: 'Overpass-Regular', fallback, sans-serif;
    font-size: 2.5rem;
}

h5{
    font-family: 'Overpass-Black', fallback, sans-serif;
    font-size: 1.875rem;
}

h6{
    font-family: 'Roboto-Regular', fallback, sans-serif;
    font-size: 1.5rem;
}

@include tablet--lg{
    h1{

        font-family: 'Overpass-Black', fallback, sans-serif;
        font-size: 2rem;
    }
    
    h2{
        font-family: 'DMSerifDisplay-Regular', fallback, serif;
        font-size: 2rem;
    }
    
    h3{
        font-family: 'DMSerifDisplay-Regular', fallback, serif;
        font-size: 1.75rem;
    }
    
    h4{
        font-family: 'Overpass-Regular', fallback, sans-serif;
        font-size: 2rem;
    }
    
    h5{
        font-family: 'Overpass-Black', fallback, sans-serif;
        font-size: 1.5rem;
    }
    
    h6{
        font-family: 'Roboto-Regular', fallback, sans-serif;
        font-size: 1rem;
    }
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
}

header{  
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

    .navbar-light 
    {
        .navbar-toggler{
            border: none;
        }
    }
}

footer{
    font-family: 'Overpass-Regular', fallback, sans-serif;

    ul{
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
    }

    h6, li{     
        font-size: 1rem;
        font-family: 'Overpass-Regular', fallback, sans-serif;
    }

    a{
        color: #fff;

        &:hover{
            color: #fff;
        }
    }  

    small{
        font-family: 'Overpass-Regular', fallback, sans-serif;
    }

    .form-control
    {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        color: #fff;
    }

    .form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
    .form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
    .form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
    .form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
    .form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */
}
//Gradient Colors
.gradient-bg{
    background: $gradient-color;
    color: #ffffff;
}

.gradient-color{
    background: $gradient-color;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-border{
    position: relative;
    padding: 30% 2em;
    box-sizing: border-box;

    $border: 2px;
    color: #FFF;
    background: #fff;
    background-clip: padding-box; 
    border-top: solid $border transparent; 
    border-bottom: solid $border transparent; 

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    background: $gradient-color;
  }
}

.wrap {
    width: 100%;
    position: relative;
    top: -8px;
    padding-right: 8px;
    padding-top: 8px;
    overflow: hidden;
    z-index: 1;

    &:before, &:after {
        content: "";
        position: absolute;
    }

    .ribbon {
        width: 220px;
        height: 40px;
        line-height: 40px;
        position: absolute;
        top: 40px;
        right: -50px;
        z-index: 2;
        overflow: hidden;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 1px solid $gradient-color;
        box-shadow: 0 0 0 3px $gradient-color, 0px 21px 5px -18px rgba(0,0,0,0.6);
        background: $gradient-color;
        text-align: center;
        font-size: 1rem;
        font-family: 'Overpass-Regular', fallback, sans-serif;
        color: #fff;
    }
}

//purple background
.purple-bg{
    background: #8D8298;
    color: #fff;
}

.lightgray-bg{
    background: #f6f6f6;
}

//Spacing
.padding-3rem{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.spacer-lg{
    height: 4rem;
}

.spacer-md{
    height: 2rem;
}

.spacer-sm{
    height: 1rem;
}

.row-width-60 {    
    width: 60%;
    margin: 0 auto;
}

.row-width-80{
    width: 80%;
    margin: 0 auto;
}

@include laptop--sm {
    .row-width-60 {
        width: 100%;
    }
    .row-width-80 {
        width: 100%;
    }
}

//vertical and horizontal center
.xy-center
{
    text-align: center;
    margin: auto 0;
}

.brother-wrap{
    padding: 20%;
    margin-bottom: 100px;
}

.floating-img-center {
    position: absolute;
    left: 50%;
}

.poly-svg{
    position: relative;
    left: -50%;
    z-index: 2;
    bottom: 150px;
}


.img_object-fit {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.align-right{
    padding-left: 9%;
    padding-right: 9%;
    margin-top: 3rem;
    margin-bottom: 3rem;
} 

@include tablet--lg
{
    .align-right{
        padding-left: 20px;
        padding-right: 20px;
    } 
}

//Above the Fold
.kv-right {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-img {
    height: 118px;
    width: 118px;
    border-radius: 100px;
    border: 4px dotted #000;
    position: absolute;
    bottom: 20px;
    right: 20px;

    .img-interior {
        background-color: #000;
        margin: 10px;
        border-radius: 60px;
        text-align: center;
        padding: 10px;
    }
    
    .img-text-style {
        padding: 7px;
        width: 70px;
        height: 55px;
        font-size: 28px;
        line-height: 1.04;
        letter-spacing: normal;
        color: #ffffff;
        text-transform: uppercase;
    }
}

.panel-heading {
    padding: 0;
    border: 0;
    border-bottom: 1px solid #fff;
}

.panel-body{
    padding:15px 0;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    padding: 15px 0 5px 0;
    word-spacing: 3px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}

.panel-heading a:before {
    content: "＋";
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    float: right;
}

.panel-heading.active a:before {
    content: '—';
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

//Responsive Table
#counters-granite-table{
    .table-bordered th, .table-bordered td
    {
        border: 2px solid #C0A5CB;
    }
    table{
        text-align: center;
        thead{
            background-color: #C0A5CB;
            color: #fff;     
            font-family: 'Overpass-Regular', fallback, sans-serif !important;
            font-weight: 700;
        }  
        tbody{
            background-color: #fff;
            color: #C0A5CB;
            font-family: 'Overpass-Regular', fallback, sans-serif !important;
            td{
                vertical-align: middle;
            }
        } 
    }
}

#steps-section{
    h3{
        font-family: 'Overpass-Regular', fallback, sans-serif;
        font-size: 1.25rem;
        text-transform: uppercase;
    }
    p{
        font-family: 'Overpass-Regular', fallback, sans-serif;
        font-size: 1rem;
    }
}

.supernatural-table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-radius: 5px;
    color: #C0A5CB;
    font-family: 'Overpass-Regular', fallback, sans-serif;

    tr {
        border-bottom: 1px solid #C0A5CB;
        padding: .35em;
        border-radius: 5px;
        background-color: #fff;
    }

    th, td {
        text-align: center;
        padding: 1rem;
        font-size: 1rem;
        border: 2px solid #C0A5CB;
    }

    .supernatural-row{
        background-color:#C0A5CB; 
        color: #fff; 

        td{
            border: 2px solid #fff;
        }

        td:first-child {
            border: none;
        }

        td:last-child {
            border: none;
        }    
    }
}

@include tablet--md {
    .supernatural-table {
        border: 0;

        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position : absolute;
            width: 1px;
        }

        tr {
            border-bottom: 1px solid #C0A5CB;
            display: block;
            margin-bottom: 0.5rem;
        }

        td {
            border-bottom: 1px solid #C0A5CB;
            display: block;
            font-size: .8rem;
            text-align: right;
        }

        th, td {
            border: none;
            border-bottom: 1px solid #C0A5CB;
        }

        td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        td:last-child {
            border-bottom: 0;
        }

        .supernatural-row{
            background-color:#C0A5CB; 
            color: #fff; 
    
            td{
                border: none;
                border-bottom: 1px solid #fff;
            }
    
            td:first-child {
                border: none;
                border-bottom: 1px solid #fff;
            }
    
            td:last-child {
                border: none;
                border-bottom: none;
            }    
        }
    }
}


.hexa-btn {
    background-image: url("./assets/button-bg.svg");
    border: none;
    padding: 10px 22px;
    min-width: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;

    &:hover{
        color: #fff;
    }
}

